@font-face {
  font-family: pubgFont;
  src: url('../HeadlinerNo.45 DEMO.ttf')
}

::-webkit-scrollbar {
    display: none;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-control-zoom-in {
  color: rgb(221, 196, 65) !important;
  background-color: black !important;
}

.leaflet-control-zoom-out {
  color: rgb(221, 196, 65) !important;
  background-color: black !important;
}

.parent360 {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.pic360 {
  cursor: grab;
  width: 100%;
  height: 70vh;
  overflow-x: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

.game {
  position: relative;
  color: rgb(221, 196, 65);
}

.mapDiv {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: width .5s ease-in-out;
}

.mapDiv > button {
  width: 100%;
  border: 5px solid rgb(221, 196, 65);
  background-color: black;
  color: rgb(221, 196, 65);
  font-size: 40px;
  font-family: pubgFont, sans-serif;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.mapDiv:hover {
  width: 600px;
  transform-origin: right;
}

.inactive {
  color: grey !important;
  border: 5px solid grey !important;
  cursor: default !important;
}

.Map {
  height: 100%;
  z-index: 0;
}

.gameInfo {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  font-family: pubgFont;
  font-size: 30px;
  margin-top: -50px;
}

.gameInfo > div {
  margin: 1rem;
}

.info2 {
  text-align: right;
  grid-column: 2 / span 1;
  margin-right: 1rem;
}

.Modal {
  font-family: 'Nanum Gothic' sans-serif;
  color: rgb(221, 196, 65);
  background: black;
  width: 70vw;
  height: 80vh;
  margin: auto;
  z-index: 2;
  text-align: center;
  align-self: center;
}

.Modal > button {
  width: 50%;
  border: 5px solid rgb(221, 196, 65);
  background-color: black;
  color: rgb(221, 196, 65);
  font-size: 40px;
  font-family: pubgFont, sans-serif;
  transition: all .2s ease-in-out;
}

.endModal > input {
  border: none;
  background: black;
  border-bottom: 3px solid rgb(221, 196, 65);
  font-size: 50px;
  color: rgb(221, 196, 65);
  text-align: center;
}

.endModal > button {
  width: 30%;
  margin: 2rem;
  border: 5px solid rgb(221, 196, 65);
  background-color: black;
  color: rgb(221, 196, 65);
  font-size: 40px;
  font-family: pubgFont, sans-serif;
  transition: all .2s ease-in-out;
}

.endTitle {
  font-family: pubgFont;
  font-size: 2rem;
}
